---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import { createStorefrontApiClient } from "@shopify/storefront-api-client";
import "@fontsource/della-respira";

import soapImage from "../assets/images/products/soap1.jpg";
import soapImage2 from "../assets/images/products/soap2.jpg";

let submitted = false;

const shopify = createStorefrontApiClient({
  storeDomain: "https://shop.clarksnaturalgoods.com",
  apiVersion: "2024-10",
  publicAccessToken: "4fd761a2fa1fc83cbc8a45c930c18a75",
});

const createCustomerMutation = `
mutation createCustomer($input: CustomerCreateInput!) {
  customerCreate(input: $input) {
    customer {
      email
      acceptsMarketing
    }
  }
}
`;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const emailToAdd = data.get("email");
    if (emailToAdd) {
      const { result } = await fetch(
        import.meta.env.KV_REST_API_URL + "/sadd/emails/" + emailToAdd,
        {
          headers: {
            Authorization: "Bearer " + import.meta.env.KV_REST_API_TOKEN,
          },
        }
      ).then((r) => r.json());
      if (result === 1) {
        const { data, errors } = await shopify.request(createCustomerMutation, {
          variables: {
            input: {
              email: emailToAdd,
              password: "password",
              acceptsMarketing: true,
            },
          },
        });
        console.log(data, errors);
      }

      submitted = true;
    }
  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="Clark's Natural Goods">
  <main class="p-12 pt-20 md:p-40 lg:p-80 min-h-svh relative overflow-hidden">
    <video
      id="bgVid"
      class="absolute top-0 left-0 object-cover min-h-full min-w-full opacity-75"
      src="./background.mp4"
      autoplay
      muted
      loop
      preload="auto"></video>
    <div class="relative flex flex-col gap-12 md:gap-24">
      <h1
        class="text-7xl sm:text-8xl xl:text-9xl font-bold mx-auto text-center drop-shadow tracking-wide"
      >
        Clark's Natural Goods
      </h1>
      <p class="text-2xl lg:text-4xl font-bold p-2 drop-shadow text-center">
        Soap that feels good.
      </p>
      {
        submitted ? (
          <div class="bg-amber-50 p-4 rounded border border-amber-200 shadow mx-auto px-8">
            <p class="text-center font-bold text-lg">Thank you!</p>
            We will be in touch soon!
          </div>
        ) : (
          <form
            class="flex flex-col gap-8 w-full relative items-center"
            method="POST"
            enctype="multipart/form-data"
          >
            <input
              type="email"
              class="mx-auto rounded text-center opacity-0 invisible absolute transition p-4 min-w-80 border border-amber-200 bg-amber-50"
              name="email"
              id="emailInput"
              placeholder="Enter your email address"
            />
            <button
              id="emailBtn"
              type="submit"
              class="absolute -bottom-16 invisible p-4 bg-amber-50 border-2 border-amber-200 rounded mx-auto px-8"
            >
              Send
            </button>
            <button
              class="p-4 bg-amber-50 border-2 border-amber-200 rounded mx-auto px-8 transition opacity-100"
              id="joinBtn"
            >
              Be the first to know!
            </button>
          </form>
        )
      }
    </div>
  </main>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h2 class="text-4xl lg:text-6xl text-center">
      Our Story: Handcrafted Soap for All
    </h2>
  </section>
  <section
    class="text-2xl py-24 px-12 lg:px-48 xl:px-0 xl:w-[50%] xl:max-w-[1024px] mx-auto lg:text-4xl min-h-svh flex flex-col justify-evenly items-center gap-8"
  >
    <p>
      At <span class="font-bold">Clark's Natural Goods</span>, we're all about
      simplicity, transparency, and creating soap that truly nourishes your
      skin.
    </p>
    <p>
      What started as a personal mission to find relief from eczema has grown
      into a passion for making gentle, moisturizing soap that works for
      everyone.
    </p>
    <p>
      After years of perfecting our formula, we've created a soap that's not
      only safe for sensitive skin but packed with benefits that make every wash
      a soothing experience.
    </p>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h2 class="text-4xl lg:text-6xl text-center">
      Natural Ingredients in Our Soap
    </h2>
  </section>
  <section
    class="text-2xl lg:text-4xl py-24 px-12 lg:px-48 xl:px-0 xl:w-[50%] xl:max-w-[1024px] mx-auto min-h-svh gap-8 flex-col flex justify-evenly items-start"
  >
    <Image
      class:list="aspect-square sm:aspect-auto object-cover"
      src={soapImage}
      alt="Handmade soap resting on a log surrounded by wildflowers"
    />
    <p>Our cold process soap uses these natural ingredients:</p>
    <ul class="list-disc pl-5 text-base md:text-xl">
      <li>
        <h3 class="font-bold text-2xl">Coconut Oil</h3>
        <p class="my-4">
          Cleanses deeply while keeping skin hydrated and soft, adding a natural
          foaminess to the soap.
        </p>
      </li>
      <li>
        <h3 class="font-bold text-2xl">Organic Palm Oil</h3>
        <p class="my-4">
          Creates a hard, long-lasting bar and provides a creamy lather that
          leaves skin feeling smooth.<br />We only use organic palm oil to
          support sustainable farming practices.
        </p>
      </li>
      <li>
        <h3 class="font-bold text-2xl">Olive Oil Pomace</h3>
        <p class="my-4">
          Soothes and moisturizes sensitive skin, while adding a gentle
          cleansing effect without stripping oils.
        </p>
      </li>
      <li>
        <h3 class="font-bold text-2xl">Avocado Oil</h3>
        <p class="my-4">
          Nourishes the skin with vitamins and offers deep hydration for a
          smooth and radiant feel.
        </p>
      </li>
      <li>
        <h3 class="font-bold text-2xl">Castor Oil</h3>
        <p class="my-4">
          Enhances lather, giving the soap a rich, creamy texture while keeping
          skin moisturized.
        </p>
      </li>
    </ul>
    <p class="mt-8">Scented with these therapeutic essential oils:</p>

    <ul class="list-disc pl-5 text-base md:text-xl">
      <li>
        <h3 class="font-bold text-2xl">Tea Tree Essential Oil</h3>
        <p class="my-4">
          Known for its natural cleansing properties, tea tree oil helps to
          purify and refresh the skin.
        </p>
      </li>

      <li>
        <h3 class="font-bold text-2xl">Clove Bud Essential Oil</h3>
        <p class="my-4">
          Adds a warm, spicy scent while providing a soothing effect on the
          skin.
        </p>
      </li>

      <li>
        <h3 class="font-bold text-2xl">Lavender Essential Oil</h3>
        <p class="my-4">
          Calms and relaxes the skin, promoting a soothing cleanse with a
          pleasant floral fragrance.
        </p>
      </li>
    </ul>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h2 class="text-4xl lg:text-6xl text-center">
      Why Choose Our Natural Bar Soap?
    </h2>
  </section>
  <section
    class="text-2xl lg:text-4xl py-24 px-12 lg:px-48 xl:px-0 xl:w-[50%] xl:max-w-[1024px] mx-auto min-h-svh gap-8 flex-col flex justify-evenly items-center"
  >
    <Image
      class:list="aspect-square sm:aspect-auto object-cover"
      src={soapImage2}
      alt="Handmade soap resting on a field of grass"
    />
    <p>
      <h3 class="font-bold text-3xl lg:text-4xl">Crafted with Transparency</h3>
      We believe you should know exactly what goes into your skincare. Our simple,
      holistic recipes are made with ingredients you can trust.
    </p>
    <p>
      <h3 class="font-bold text-3xl lg:text-4xl">
        Moisture-Packed for Healthy Skin
      </h3>
      Whether your skin is dry, oily, or somewhere in between, our soap works to
      hydrate and restore balance, leaving your skin feeling soft and refreshed.
    </p>
    <p>
      <h3 class="font-bold text-3xl lg:text-4xl">
        For Sensitive Skin and Beyond
      </h3>
      While created with sensitive skin in mind, our soap is for everyone. Enjoy
      a soothing, calming cleanse that benefits all skin types.
    </p>

    <p class="font-bold text-3xl lg:text-4xl">
      Join us in embracing skincare that's gentle, effective, and made with
      love.
    </p>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex flex-col justify-center items-center cursor-pointer"
    id="jumpToTop"
  >
    <h2 class="text-4xl lg:text-6xl">Join the Wait List</h2>
    <button class="text-4xl animate-bounce">&uparrow;</button>
  </section>
  <footer class="bg-[#272b22] h-8 text-amber-50 text-center text-sm">
    <p>
      Crafted with 💖 by
      <a href="https://mclark.dev" target="_blank">Michael Clark</a>
      &copy; 2024
    </p>
  </footer>
</Layout>

<style>
  body {
    font-family: "Della Respira", serif;
    color: #272b22;
  }
  main {
  }
</style>

<script>
  const waitlistBtn = document.getElementById("joinBtn")! as HTMLButtonElement;
  const emailInput = document.getElementById("emailInput")! as HTMLInputElement;
  const emailBtn = document.getElementById("emailBtn")! as HTMLButtonElement;
  const jumpToTopBtn = document.getElementById(
    "jumpToTop"
  )! as HTMLButtonElement;

  jumpToTopBtn?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  waitlistBtn.addEventListener("click", (e: Event) => {
    e.preventDefault();
    waitlistBtn.classList.remove("opacity-100");
    emailInput.classList.remove("opacity-0");
    waitlistBtn.classList.add("invisible");
    emailInput.classList.add("opacity-100");
    emailInput.classList.remove("invisible");
    emailBtn.classList.remove("invisible");
    emailInput.focus();
  });

  emailBtn.addEventListener("click", (e: Event) => {
    if (emailInput.value === "") e.preventDefault();
  });
</script>
