---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Clark's Natural Goods">
<main>
    <h1>Clark's Natural Goods</h1>
    <p>Soap for people with skin.</p>
    <Card title='Why choose us?' href='#' body="There's a lot of soap out there. Here's why we are the best."/>
</main>
</Layout>

<style>

</style>
