---
import Layout from "../layouts/Layout.astro";

import "@fontsource/della-respira";

let submitted = false;
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const emailToAdd = data.get("email");
    if (emailToAdd) {
      await fetch(
        import.meta.env.KV_REST_API_URL + "/sadd/emails/" + data.get("email"),
        {
          headers: {
            Authorization: "Bearer " + import.meta.env.KV_REST_API_TOKEN,
          },
        }
      );
      submitted = true;
    }
  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="Clark's Natural Goods">
  <main
    class="p-12 pt-20 md:p-40 lg:p-80 min-h-svh relative bg-neutral-200 overflow-hidden"
  >
    <video
      id="bgVid"
      class="absolute top-0 left-0 object-cover min-h-full min-w-full opacity-75"
      src="./background.mp4"
      autoplay
      muted
      loop
      preload="auto"></video>
    <div class="relative flex flex-col gap-12 md:gap-24">
      <h1
        class="text-7xl md:text-9xl font-bold mx-auto text-center drop-shadow tracking-wide"
      >
        Clark's Natural Goods
      </h1>
      {submitted && <p class="bg-neutral-50 p-4 w-full">Submitted!!</p>}
      <p class="text-2xl lg:text-4xl font-bold p-2 drop-shadow text-center">
        Soap that feels good.
      </p>
      <form
        class="flex flex-col gap-8 mx-auto"
        method="POST"
        enctype="multipart/form-data"
      >
        <input
          type="email"
          class="mx-auto rounded text-center opacity-0 absolute invisible transition p-4"
          name="email"
          id="emailInput"
          placeholder="Enter your email address"
        />
        <button
          class="p-4 bg-neutral-50 rounded mx-auto px-8 transition opacity-100 transform"
          id="joinBtn"
        >
          Join the Wait List
        </button>
      </form>
    </div>
  </main>
  <section class="bg-[#272b22] h-48 text-neutral-200">
    <p>Good</p>
    <p>Clean</p>
    <p>Fun</p>
  </section>
  <section class="min-h-svh text-4xl">
    <h2>Soap for people with sensitive skin.</h2>
  </section>
</Layout>

<style>
  body {
    font-family: "Della Respira", serif;
    color: #272b22;
  }
  main {
  }
</style>

<script>
  const waitlistBtn = document.getElementById("joinBtn")!;
  const emailInput = document.getElementById("emailInput");

  waitlistBtn.addEventListener("click", (e: Event) => {
    e.preventDefault();

    e.target.classList.remove("opacity-100");
    emailInput?.classList.remove("opacity-0");
    e.target.classList.add("invisible");
    emailInput?.classList.remove("invisible");

    emailInput?.focus();
  });
</script>
