<footer
  class="bg-[#272b22] p-10 text-amber-50 text-center text-xs grid grid-rows-2 gap-4"
>
  <div class="flex flex-col gap-4">
    <div class="flex justify-center gap-4">
      <a href="https://facebook.com/clarksnaturalgoods" target="_blank">
        <span class="icon-[simple-icons--facebook] size-8"></span>
      </a>
      <a href="https://instagram.com/clarksnaturalgoods" target="_blank">
        <span class="icon-[simple-icons--instagram] size-8"></span>
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <p>&copy; 2024 Clark's Natural Goods</p>
    <p>
      Crafted with 💖 by
      <a class="hover:underline" href="https://mclark.dev" target="_blank"
        >Michael Clark</a
      >
    </p>
  </div>
</footer>
