<footer
  class="bg-[#272b22] px-10 text-amber-50 text-center text-sm grid grid-rows-2 grid-cols-2 gap-4"
>
  <div class="flex flex-col gap-2">
    <a>About Us</a><a>Contact Us</a><a>Privacy Policy</a>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex justify-center gap-4">
      <a href="#"><span class="icon-[simple-icons--facebook] size-8"></span></a>
      <a href="#"><span class="icon-[simple-icons--instagram] size-8"></span></a
      >
    </div>
    <p>Follow Us!</p>
  </div>

  <p>
    Crafted with 💖 by
    <a class="hover:underline" href="https://mclark.dev" target="_blank"
      >Michael Clark</a
    >
  </p>
  <p>&copy; 2024 Clark's Natural Goods</p>
</footer>
