---
const testimonials = [
  {
    name: "Dan W.",
    state: "NC",
    body: "It's like I'm in a Hallmark Christmas movie where I broke down in a sleepy little town with a Bed & Breakfast that makes their own soap. 🙂",
  },
  {
    name: "Hunter G.",
    state: "TX",
    body: "Everything arrived in perfect condition. I really love the formula you use and it smells so freaking good!!  I will definitely be ordering it again. ❤️❤️",
  },
];
---

<div class="flex flex-wrap justify-between gap-4">
  {
    testimonials.map((t: { name: string; state: string; body: string }) => (
      <div class="rounded border border-[#272b22] p-8 w-full">
        <div class="mb-8 w-full">
          <p class="text-9xl max-h-12">&ldquo;</p>
          <p class="p-4">{t.body}</p>
          <p class="text-9xl text-right max-h-12 ">"</p>
        </div>
        <p class="text-right text-base">
          - {t.name} from {t.state}
        </p>
      </div>
    ))
  }
</div>
